<script>
  $(function() {

    L.mapbox.accessToken = 'pk.eyJ1Ijoic3dpcnJsIiwiYSI6IkkyQVJSX2sifQ.hV5DPpUC9u59vGhnODQ4Lg';

    var defaultZoom = 13;

    var map = L.mapbox.map('map-canvas', "swirrl.pdmpgpcc", {
      scrollWheelZoom: false,
      center: [<%= organization.lat %>, <%= organization.long %>],
      zoom: 13
    });

    var marker = L.marker(new L.LatLng("<%= organization.lat %>", "<%= organization.long %>"), {
      icon: new L.Icon({
        iconSize: new L.Point(14, 20),
        iconUrl: "/assets/pin.png"
      })
    }).bindPopup('<p class="name"><a href="<%= resource_path_from_uri(organization.uri) %>"><%= organization.label %></a></p><p class="address"><%= organization.site.address.label %></p>', {
      closeButton: false
    });
  
    marker.addTo(map);

  });

</script>